@use "./variables";

/* MOBILE MENU */

.burger-menu-bkg {
    background-image: url(/assets/home-bkg-sm.jpg);
}
.burger-menu-header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .cross {
        background: none;
        border: none;
    }
}
.burger-menu {
    display: flex;
    flex-direction: column;
    max-height: 0;  /* Change height to max-height */
    overflow: hidden;
    background-color: rgba(47, 47, 47, 0.945);
    align-items: center;
    justify-content: flex-start;
    opacity: 0;
    transition: opacity 600ms ease;
}


.burger-menu.open {
    max-height: 100dvh;
    opacity: 1;
    padding: 0 1rem 1rem 1rem;
}

.burger-menu ul {
    list-style: none;
    height: 100dvh;
    font-family: variables.$cursive;
    font-size: 2.25rem;
    margin: 3rem;
    text-align: center;
}

.burger-menu ul li {
    margin: 2.25rem;
}

.burger-menu ul li a {
    color: white;
}