@use "./variables";

/* MOBILE MENU */

.burger-menu-bkg {
    background-image: url(/assets/home-bkg-sm.jpg);
}
.burger-menu-header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .cross {
        background: none;
        border: none;
    }
}
.burger-menu {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background-color: rgba(47, 47, 47, 0.945);
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem 1rem 1rem;

    ul {
        list-style: none;
        height: 100%;
        font-family: variables.$cursive;
        font-size: 2.25rem;
        margin: 3rem;
        text-align: center;

        li {

            margin: 2.25rem;
            a {
                color: white;

            }

        }
    }
}