@use "./mob-menu";
@use "./variables";
@use "./resets";
@use "./scroller";
@use "./nav";
@use "./projects";
@use "./about";
@use "./contact";
@use "./footer";

@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@mixin heading() {
    font-family: variables.$cursive;
    font-weight: map-get(variables.$font-weights, regular);
    font-style: normal;
    font-size: 36px;
}

/* STYLES - MOBILE SMALL 
 */

.home {
    background: url(/assets/home-bkg-sm.jpg);

     .background {
        background-color: rgba(47, 47, 47, 0.54)

    }

}

.home-content {
    margin: 0 1rem 0 1rem;
    height: 100dvh;

    h2 {
        font-size: 40px;
        font-weight: map-get(variables.$font-weights, extra-bold );
        line-height: 1;
        margin-bottom: 2rem;
    }
    
    .intro {
        margin-bottom: 2rem;
    }
    
}

.home-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 50dvh;

    .extra-info {
        width: 200px;
        font-size: 14px;
        text-align: right;
        margin: 4rem 0 2rem 0;
    }
    
    .call-to-action {
        font-weight: 800;
        height: 50%;
        align-content: end;
    }
}


@media screen and (min-width: 376px) {


    .burger-menu-bkg {
        background-image: url(/assets/home-bkg-m-lrg.jpg);
    }
    
    .home {
        background-image: url(/assets/home-bkg-m-lrg.jpg);
    
    }
    
}

///////////////////////////////////
//LARGE MOBILE SCREEN MEDIA QUERY//
//////////////////////////////////
/// 
@media screen and (min-width: 426px), screen and (min-height: 666px) {

    .burger-menu-bkg {
        background-image: url(/assets/home-bkg-m-lrg.jpg);
    }
    
    .home {
        background-image: url(/assets/home-bkg-m-lrg.jpg);
    
         .background {
            background-color: rgba(47, 47, 47, 0.54)
    
        }
    
    }

    .home-content {
        margin: 0 1rem 0 1rem;
        height: 100dvh;
    
        h2 {
            font-size: 40px;
            font-weight: map-get(variables.$font-weights, extra-bold );
        }
        
        .intro {
            margin-bottom: 4rem;
        }
        
    }

   

    .home-bottom {
        
    
        .extra-info {
            
            margin: 4rem 0 4rem 0;
        }
        
       
    }

    .project {
        height: 33vh;
        margin: 0 1rem 0 1rem;
        position: absolute;
        align-content: center;
    
    
        h4 {
            font-size: 2rem;
            margin: 1rem 0 1rem 0;
        }

        
    
        .project-description {
            font-size: 0.75rem;
        }
    }

    .carousel-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 1rem 0 1rem 0;
        position: relative;
         top: 40vh;
    }
    
}

@media screen and (min-width: 426px), screen and (min-height: 760px) {
    .carousel-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 1rem 0 1rem 0;
        position: relative;
         top: 36vh;
       }
}
@media screen and (min-width: 426px), screen and (min-height: 880px) {
    .carousel-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 1rem 0 1rem 0;
        position: relative;
         top: 30vh;
       }
}

/////////////////////////////////////////////////
/// LANDSCAPE MEDIA QUERIES - SMALL MOBILES /////
/// /////////////////////////////////////////////
/// 

@media screen and (min-width: 590px) {
   
    .burger-menu {
        height: 100dvh;

        ul {
            font-size: 1.4rem;
            margin: 0;
        }
    }
   
    .home-content {
        height: 100dvh;

       

        nav {
            margin-bottom: 1rem;

          
        }

        

        
    }

    .home__text-wrapper {
        height: 100%;

        .intro {
            margin-bottom: .8rem;
        }

       

        .extra-info {
            margin: 0 0 0.8rem 0;
        }
    }

     .projects {
        margin: 0 auto;
    } 

    .project{
        margin-left: 1rem;
       
    }

    .project-type {
        margin-left: 1rem;
    }
    .carousel-nav {
         top: 78%;    
}

    .about-me {
        height: 100dvh;
    }

    .tech-icons-grid {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .contact {
        height: 150dvh;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 3rem auto 0 auto;
        width: 400px;
    }
}

@media screen and (min-width: 660px), screen and (min-height: 360px) {

   
    .carousel-wrapper .carousel__track-container img {
        height: 270px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 5px;
      }
}

////////////////////////
/// TABLET STYLES /////
/// //////////////////
/// 

@media screen and (min-width: 760px) {

    
    .home {
        background-image: url(/assets/home-tablets.jpg);
    
         .background {
            background-color: rgba(47, 47, 47, 0.54)
    
        }
    
    }
    
    .home-content nav {
        display: flex;

        margin-bottom: 8rem;

        .logo {
            font-size: 3rem;
        }
    }
    
    .burger-btn {
        display: none;
    }

    .menu-bar {

        display: inline;

        ul {
            display: flex;
            font-family: variables.$cursive;
        }

        li {
            list-style: none;

        }

        a {
            color: variables.$font-dark;
            padding: 1rem;
            font-size: 1.4rem;
        }
    }

    .home-content h2 {
        font-size: 3.7rem;
        margin-bottom: 8rem;
    }

    .home__text-wrapper .intro {
        margin-bottom: 3rem;
    }



    .home-bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 40%;
        justify-content: flex-end;
        margin: 4rem auto;

        p {
            font-size: 1.7rem;
        }
    }

    .home__text-wrapper .extra-info {
        font-size: 1.1rem;
    }

    
/* PROJECTS */

    .projects .section-title {
    
    font-size: 3rem;
    
    }

    .carousel-wrapper .buttons {
        margin: 8rem 0 1rem 0;
      }

    .carousel-wrapper .carousel__track-container img {
        width: 100%;
        height: 500px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 5px;
      }

      .carousel-nav {
        top: 50%;
      }

      .project-type {
        margin: 2rem auto;
        font-size: 1.4rem;
      }

      .project h4 {
        font-size: 3rem;
        margin: 1rem 0 1rem 0;
        margin-left: 0px;
      }

      .project .project-description {
        font-size: 1.4rem;
        margin: 2rem auto;
      }

    /* ABOUT ME */

    .about-me .section-title {
        font-size: 3rem;
      }

    .tech-icons-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        margin: 6rem;

        img {
            height: 6.8rem;
            width: 6.1rem;
          }
      }

      .about-me .about-me-text {
        margin: 4rem auto;

        p {
            font-size: 1.4rem;
        }
      }

      /////////////////////////
      /// CONTACT ////////////
      /// ///////////////////
      /// 
      
      .contact {
        height: 100dvh;
      }
      
      .contact div {
        font-size: 3rem;
      }

      .contact-text {
        font-size: 1.5rem;
        line-height: 2.7rem;
        margin: 8rem auto;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 3rem auto 3rem auto;
        width: 500px;
      }

      form input {
        height: 2.8rem;
        letter-spacing: 4px;
      }
      
      form textarea {
        letter-spacing: 4px;
        height: 15.3rem;
      }

      form button {
        font-size: 20px;
        letter-spacing: 5px;
        height: 2.8rem;
        width: 6.75rem;
      }

}

@media screen and (min-width: 1000px), screen and (min-height: 1100px) {

    .carousel-wrapper .buttons {
        margin: 8rem 0 1rem 0;
      }
    .carousel-nav {
        top: 48vh;
    }
  }
@media screen and (min-width: 1020px), screen and (min-height: 1300px) {

   
    .carousel-nav {
        top: 40vh;
    }
  }

////////////////////////
/// DESKTOP STYLES /////
/// ////////////////////
/// 

@media screen and (min-width: 1099px), screen and (min-height: 1300px) {

    .home {
        background-image: url(/assets/home-laptop-lrg.jpg);
    
         .background {
            background-color: rgba(47, 47, 47, 0.54)
    
        }
    
    }

    .projects {
        height: 120vh;
    }

    .carousel-wrapper .carousel__track-container img {
        width: 60%;
        margin: 0 20%;
        height: 400px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 5px;
    }

    .carousel-nav {
        cursor: pointer;
        top: 46vh;
      }

    button {
        cursor: pointer;
    }

    .contact {
        height: 120dvh;
      }
}

@media screen and (min-width: 1420px) {
    .home {
        background: center no-repeat url(/assets/home-4k.jpg);
        height: 110vh;
    
         .background {
            background-color: rgba(47, 47, 47, 0.54);
            height: 110vh;

    
        }
    }

    .home-content nav .logo {
        font-size: 4rem;
    }

    .home-bottom {
        height: 30%;
        margin: 4rem auto;
    }

    .menu-bar a {
        font-size: 1.8rem;
    }

    //PROJECTS//

    .projects {
        height: 200vh;
    }
    .carousel-nav {
        cursor: pointer;
        top: 75vh;
    }

    .carousel-wrapper .carousel__track-container img {
        width: 60%;
        margin: 0 20%;
        height: 500px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 5px;
    }

    //ABOUT

    .about-me {
        height: 150vh;
    }

    .contact {
        height: 150vh;
    }
   
}

@media screen and (min-width: 2500px) {
    .carousel-nav {
        cursor: pointer;
        top: 48vh;
    }

    //ABOUT

    .about-me {
        height: 150vh;
    }

    .about-me .about-me-text {

        margin: 4rem 33%;

        .p1, .p2, .p3 {
            font-size: 2rem;
        }

    }

   

    .tech-icons-grid img {
        height: 9rem;
        width: 8rem;
    }

    //contact

    .contact {
        height: 150vh;
    }

    .contact-text {
        font-size: 2rem;
        line-height: 3rem;
    }

    form {
        width: 700px;
    }

    form input {
        height: 4rem;
        letter-spacing: 4px;
        font-size: 1.4rem;
    }

    form textarea {
        letter-spacing: 4px;
        height: 15.3rem;
        font-size: 1.4rem;
    }

    form button {
        font-size: 24px;
        letter-spacing: 5px;
        height: 3.3rem;
        width: 8rem;
    }
}